body{
  background-color: dimgray;
  padding: 2.5px;
  
}

.App{
  border-radius: 10px;
  background-color: darkslategray;
  height: 435px;
  width: 280px;
  margin: auto;
  padding: 2.5px;
}

.Input{
  margin: auto;
  width: 273px;
  height: 147px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  border: 0px;
  background-color: darkslategray;
  border-radius: 10px;
  resize: none;
  
}

.Input:focus{
  outline: none;
}

.Button{
  margin: 2.5px;
  height: 65px;
  width: 65px;
  border-radius: 5px;
  border: 0px;
  background-color: cadetblue;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 17px;
}

.Row{
  align-items: center;
  margin: auto;
}